@font-face {
  font-family: 'Open-Sans';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-Regular-webfont.woff') format('woff2'),
       url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
       url('../fonts/OpenSans-Regular-webfont.svg#OpenSans') format('svg');
}

body{
    background:#195270;
    margin: 0;
    padding:0;
    font-family: 'Open-Sans',sans-serif;
    font-size:14px;
    color: #fff;
}
li{
    list-style: none;
}
header{
    background:#333333;
    align-items: center;
    position: relative;
    width: 100%;
}

nav {
    width: 960px;
    font-size: 14px;
    background:#333333;
}

.margin-left{
    margin-left: 50px;
}

/* utils */
.center{
    text-align: center;
}

.title--primary{
    font-size: 50px;
    font-weight: normal;
    margin: 0 0 20px 0;
}

.title--secondary {
    font-size: 25px;
    font-weight: normal;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px 0;
}

#loadingAssets{
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #fff;
    top: 0;
    bottom: 0;
    align-items: center;
    color: #121212;
    align-content: center;
    text-align: center;
    padding-top: 150px;
    overflow: hidden;
}

#loadingAssets img{
    width: 32px;
    height: 32px;
    margin: 0 auto;
}

a.toggle{
    display: none;
    color: #fff;
    padding: 10px 0;
}
/* flex container */
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex-container--start {
    justify-content: flex-start;
}
.flex-container--even {
    justify-content: space-evenly;
}

.flex-container--end{
    justify-content: flex-end;
}

.flex-container--stretch {
    align-items: stretch;
}

.flex-container__item {
    flex: 1;
}

header .flex-container__item {
    flex: 1 auto;
}
.flex-container__item--full {
    flex: 1 100%;
}


.flex-container__item:last-child {
    border: 0;
}

.button{
    height: 51px;
    line-height: 51px;
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}
.button--primary{
    background: #178bc1;
}
/* Primary Nav */
.primary-nav {
    margin: 0;
    padding: 0;
}

.primary-nav__list {
    list-style: none;
    border-right: 1px solid #484848;
}

.flex-container__item:first-child .primary-nav__link {
    padding: 0 10px 0px 0;
}

.primary-nav__link {
    display: flex;
    height: 46px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    align-items: center;
}
.primary-nav__link:hover,
a.toggle:hover{
    color:#dfc988;
    transition: .5s all ease;
}

/* Secondary Nav */
.secondary-nav{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.secondary-nav__list {
    list-style: none;
}

.secondary-nav__link {
    display: flex;
    align-content: center;
    height: 40px;
    padding: 0 20px;
    background: #282828;
    color: #fff;
    text-decoration: none;
    align-items: center;
    width: 134px;
    height: 34px;
    border-radius: 10px;
}

.secondary-nav__link span{
    width: 100%;
    text-align: center;
}

.section {
    background-size: 100% 100%;
}

/* first slide starts */
.first-slide .flex-container {
    width: 100%;
    height: 100%;
}
.first-slide__logo-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin: 0 100px;
}
.first-slide__image-wrapper img{
    height: auto;
    max-width:480px;
    max-height: 110px;
}


/* second slide starts */
.second-slide__logo-wrapper{
    height: 100%;
    margin-bottom: 40px;
}
.second-slide__logo-wrapper img{
    width: 100%;
    height: auto;
    max-width: 490px;
    max-height: 100px;

}

.second-slide__text-container{
    margin-bottom: 50px;
}
.second-slide__text-content{
    margin-left: 50px;
}

/* third slide starts */

.third-slide .flex-container__item:last-child{
    margin-left: 50px;
}
/* slide images */

.first-slide{
    background-image: url("../img/slidebg/first_slide.jpg") ;
    background-repeat: no-repeat;
}
.first-slide__play {
    position: absolute;
}
.second-slide {
    background-image: url("../img/slidebg/second_slide.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.third__slide {
    background-image: url("../img/slidebg/third_slide.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.fourth__slide {
    background-image: url("../img/slidebg/fourth_slide.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* icon farm */

img{
    width: 100%;
    display: block;
}

.icon{
    display: inline-block;
    background-size: 100% 100%;
}

.icon__logo{
    background-image: url('../img/logo.png');
    height: 36px;
    width:36px;
}

.icon__download {
    background-image: url('../img/download_icon.png');
    height: 14px;
    width: 16px;
}

.icon__play{
    background-image: url('../img/play.png');
    height: 112px;
    width: 112px;
    margin-top: 40px;

}


/* tabs */

ul.tabs {
    margin: 30px 0;
    padding: 0px;
    list-style: none;
}

ul.tabs li {
    background: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
}

ul.tabs li a{
    color: #fff;
    text-decoration: none;
    outline: none;
}

ul.tabs li.ui-tabs-active {
    border-radius: 4px;
    background: #0000003b;
}


.tab-content {
    display: none;
    min-width: 320px;
}

.tab-content.current {
    display: block;
}

.ui-widget-content{
    background:transparent;
}

/* fullPagejs style overrides */
.fp-tableCell {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 740px;
}
.fp-viewing-firstPage #fp-nav {
    display: none !important;
}

#fp-nav ul li {
    margin: 20px 0;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span{
    background:#fff;
    height: 5px;
    width: 5px;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    height: 5px;
    width: 5px;
    margin: -2px 0 0 -2px;

}
#fp-nav ul li a.active span:after,
.fp-slidesNav ul li a.active span:after{
        content: " ";
        background: #ffffff30;
        height: 13px;
        width: 13px;
        display: block;
        top: -4px;
        left: -4px;
        position: absolute;
        border-radius: 50%;
}
.fp-responsive #fullPage,
.fp-responsive #fullPage .fp-slide,
.fp-responsive #fullPage .fp-tableCell {
    height: auto !important;
}

/* swiper */
.swiper-container {
    width: 690px;
    height: 380px;
}
.swiper-slide img{
    height: 100%;
    width: auto;
    margin: 0 auto;
}
.fourth__slide__text_container{
    margin-left: 30px;
}
.fourth__slide__text_container p{
    margin-bottom: 50px;
}
.fourth__slide .container{
    padding: 0;
}



.swiper-pagination{
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.swiper-pagination-bullet {
    background: #fff;
    height: 5px;
    width: 5px;
    margin: 10px 5px;
    position: relative;
    outline:none;
    opacity: 1;
}
.swiper-pagination-bullet-active:after{
    content: "";
    border: 3px solid #ffffff7a;
    border-radius: 100%;
    height: 5px;
    width: 5px;
    display: block;
    left: -3px;
    top: -3px;
    position: absolute;
}
video {
    object-fit: cover;
    border-radius: 4px;
}


@media all and (max-width:1300px){
    .title--primary {
        font-size: 40px;
        font-weight: normal;
        margin: 0 0 12px 0;
    }
    .title--secondary {
        font-weight: normal;
    }
}

@media all and (max-width:970px){
    header .flex-container__item {
        width: 100%;
        border: 0;
    }
    .flex-container__item:first-child 
    .primary-nav__link{
        padding-left: 15px;
    }
    nav.flex-container{
        justify-content: flex-start;
    }
    nav.toggled .primary-nav{
        z-index: 9;
        display: none;
    }
    nav.toggled .secondary-nav {
        display: none;
        padding: 0;
    }
    a.toggle{
        display: block;
    }
    .primary-nav__link {
        align-items: center;
        padding: 0;
        padding-left: 15px;
    }
    .secondary-nav{
        justify-content: flex-start;
    }
    nav{
        flex-direction: column;
        justify-content: center;
    }
}

@media all and (max-width: 768px){
    .content-container .flex-container {
        flex-direction: column;
    }
    .fourth__slide__text_container{
        margin: 0;
        padding: 0 20px;
    }
    .swiper-container {
        width: 305px;
        height: 180px;
    }
    .margin-left{
        margin-left: 0;
    }
    .first-slide__image-wrapper img{
        width: 95%;
        margin: 0 auto;
        height: 100%;
    }
    .container {
        max-width: 1100px;
        margin: 0 auto;
        padding: 20px 20px 0;
    }
}

@media all and (max-width:475px){
    .title--primary {
        font-size: 27px;
        font-weight: normal;
        margin: 0 0 12px 0;
    }
    .second-slide__text-container{
        margin-bottom: 20px;
    }
    .title--secondary {
        font-size: 20px;
    }
}